---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>俞景仪的兴趣爱好</b>包括<b>听音乐和看小说</b>，平时喜欢在闲暇时光里沉浸于音乐和小说的世界中。通过音乐和小说，我不仅丰富了自己的内心世界，也结识了许多志同道合的朋友。<b>期待与大家分享我的兴趣，一起探讨那些动人的旋律和精彩的故事！</b> 
    </p>
    <p>
    <b>Yu Jingyi's hobbies</b> include <b>listening to music and reading novels,</b> and I like to spend my free time immersed in the world of music and novels. Through music and fiction, I have not only enriched my inner world, but also made many like-minded friends. <b>I look forward to sharing my interests and exploring the moving melodies and wonderful stories together! </b> 
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://yjy0408-501.hf.space" theme_mode="light"></gradio-app>

<gradio-app src="https://yjy0408-mattergpt-cpu.hf.space" theme_mode="light"></gradio-app>


<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<!-- <div id="歌单">
    <h2>歌单</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div> -->
